<div class="contextual">
<% if User.current.allowed_to?(:manage_issue_relations, @project) %>
  <%= toggle_link l(:button_add), 'new-relation-form', {:focus => 'relation_issue_to_id'} %>
<% end %>
</div>

<p><strong><%=l(:label_related_issues)%></strong></p>

<% if @relations.present? %>
<form>
<table class="list issues">
<% reset_cycle %>
<% @relations.each do |relation| %>
  <% other_issue = relation.other_issue(@issue) -%>

  <tr class="issue hascontextmenu <%= cycle('odd', 'even') %> <%=other_issue.css_classes%>" id="relation-<%= relation.id %>">
  <td class="checkbox"><%= check_box_tag("ids[]", other_issue.id, false, :id => nil) %></td>
  <td><%= other_issue.visible_custom_field_values[3] %></td>
  <td><%= other_issue.fixed_version %></td>
  <td class="subject">
    <%= l(relation.label_for(@issue)) %>
    <%= "(#{l('datetime.distance_in_words.x_days', :count => relation.delay)})" if relation.delay && relation.delay != 0 %>
    <%= h(other_issue.project) + ' - ' if Setting.cross_project_issue_relations? %>
    <%= link_to_issue(other_issue, :truncate => 60) %>
  </td>
  <td class="status"><%=h other_issue.status.name %></td>
  <td class="start_date"><%= format_date(other_issue.start_date) %></td>
  <td class="due_date"><%= format_date(other_issue.due_date) %></td>
  <td class="buttons"><%= link_to image_tag('link_break.png'),
                                  relation_path(relation),
                                  :remote => true,
                                  :method => :delete,
                                  :data => {:confirm => l(:text_are_you_sure)},
                                  :title => l(:label_relation_delete) if User.current.allowed_to?(:manage_issue_relations, @project) %></td>
  </tr>
<% end %>
</table>
</form>
<% end %>

<%= form_for @relation, {
                 :as => :relation, :remote => true,
                 :url => issue_relations_path(@issue),
                 :method => :post,
                 :html => {:id => 'new-relation-form', :style => 'display: none;'}
               } do |f| %>
<%= render :partial => 'issue_relations/form', :locals => {:f => f}%>
<% end %>
