<h4><%= link_to h(document.title), document_path(document) %></h4>
<p><em><%= format_time(document.updated_on) %></em></p>
<hr>

<!-- <div class="wiki"> -->
  <%#= textilizable(truncate_lines(document.description), :object => document) %>
<!-- </div> -->
