<h2><%=l(:label_document)%></h2>

<%= labelled_form_for @document, :html => {:id=>'document-form'} do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= submit_tag l(:button_save) %>
    <%= preview_link preview_documents_path(:project_id => @project), 'document-form' %>
  </p>
<% end %>
<div id="preview" class="wiki"></div>


