<%
hide_table ||= false
curr_block_statueses = Hash.new 
curr_block_statueses_count = Hash.new 
issues.each do |issue|
    curr_block_statueses[issue.status.id] = issue.status 
    curr_block_statueses_count[issue.status.id] ||= 0 
    curr_block_statueses_count[issue.status.id] += 1 
end 

# versions_last_status=0
# versions_status_count=0
# versions_status_count_all=0


%>
<% if hide_table %>
<button class="toggle_versions_table" onclick="roadmap.hideTable(this);" versionid="<%=version.id%>" title="Сворачивает все задачи текущей версии">свернуть список задач</button>
<br>
<% end %>

<% if hide_table %>
<div class="versions_table" versionid="<%=version.id%>">
<% end %>

<div>
    
    <span class="hide_version_status">Спрятать</span>/<span class="show_version_status">Показать</span> статусы (<a class="toggle_versions_allstatus show_version_status" onclick="roadmap.toggleAllStatus(this);" versionid="<%=version.id%>" title="Скрыть/Показать все задачи не зависимо от статуса">все</a>): | 
    <%
    curr_block_statueses.each do |issueid, issuestat| %>
      <a class="toggle_versions_status show_version_status" onclick="roadmap.toggleByStatus(this);" versionid="<%=version.id%>" statusid="<%=issuestat.id%>" statusname="<%=issuestat.name%>" title="Скрыть/Показать только те задачи которые соответсвуют текущему статусу"><%=issuestat.name%>&nbsp;(<%=curr_block_statueses_count[issuestat.id]%>)</a>&nbsp;| 
    <% end %>
    <br>
</div>

<%= form_tag({}) do -%>
    <table class="<%=table_options[:class]%>">
        <caption><%= table_options[:caption] %></caption>

        <thead>
            <tr>
                <th class="checkbox hide-when-print" style="display: none;"></th>
                <th>#</th>
                <th>Трекер</th>
                <th>Статус</th>
                <th></th>
                <th>Назначена</th>
                <th>Тема</th>
            </tr>
        </thead>

        <tbody>

        <% curr_block_statueses.each do |statusid, statusitem| %>
            <tr class="versions_total_statuses_message" versionid="<%=version.id%>"  statusid="<%=statusid%>">
                <td colspan="6" style="text-align: left">
                    скрыто записей: <%=curr_block_statueses_count[statusid]%>;  со статусом: <%=statusitem.name%>;
                </td>
            </tr>
        <% end %>

        <% issue_list(issues) do |issue, level| -%>

            <% cssclass = '' %>
            <% cssclass <<  " issue idnt idnt-#{level} " if level > 0 %>



            <tr class=" <%=cssclass%> issues_stat <%=table_options[:tbody][:tr_class]%>" versionid="<%=version.id%>" statusid="<%=issue.status.id%>" >
                <td class="checkbox"><%= check_box_tag 'ids[]', issue.id, false, :id => nil %></td>
                <td style="text-align: left;"><%= link_to("##{issue.id}", issue_path(issue), :target=>'_blank')%></td>
                <td style="text-align: left;"><%=issue.tracker%></td>
                <td style="text-align: left;"><%=issue.status%></td>
                <td style="text-align: left;">
                    <%=issue.grorder%>
                </td>
                <td style="text-align: left;"><%=issue.assigned_to%></td>
                <td class="subject"><%= link_to(issue.subject.truncate(60), issue_path(issue), :target=>'_blank') %></td>
            </tr>


        <% end -%>
        </tbody>


    </table>
<% end %>

<% if hide_table %>
</div> <!-- class=versions_table-->
<% end %>



