<div class="contextual">
  <%= link_to(l(:label_version_new), new_project_version_path(@project),
              :class => 'icon icon-add') if User.current.allowed_to?(:manage_versions, @project) %>
</div>

<h2><%=l(:label_roadmap)%></h2>
<div style="display: hidden;" id="current_project" project-id="<%=@project.id%>" project-name="<%=@project.name%>"></div>
<div style="margin-bottom: 50px;">
	<button style="float: right;" onclick="roadmap.clearall()" title="Очистить все сохраненные состояния!">Очистисть состояния!</button>
</div>
<% if @versions.empty? %>
  <p class="nodata"><%= l(:label_no_data) %></p>
<% else %>
  <div id="roadmap">
  <% @versions.each do |version| %>
    <div style="border:1px dashed black; border: 1px solid #ddd;
  padding: 0px 8px;
  margin: 12px -13px;
  background: rgb(252, 252, 252);
  border-radius: 4px;">
        <h3 class="version"><%= link_to_version version, :name => version_anchor(version) %></h3>
        <%= render :partial => 'versions/overview', :locals => {:version => version} %>
        <%= render(:partial => "wiki/content",
                   :locals => {:content => version.wiki_page.content}) if version.wiki_page %>
        <% if (issues = @issues_by_version[version]) && issues.size > 0 %>
            <%= render(:partial => 'versions/table_of_issues', :locals => { 
                    :issues => issues, :version => version, :hide_table => true, :table_options => { :tbody => { :tr_class=>'hascontextmenu' }, :class => 'list related-issues', :caption => l(:label_related_issues) } }) %>
        <% end %>
        <%= call_hook :view_projects_roadmap_version_bottom, :version => version %>
    </div>
  <% end %>
  </div>
<% end %>

<% content_for :sidebar do %>
<%= form_tag({}, :method => :get) do %>
<h3><%= l(:label_roadmap) %></h3>
<ul>
<% @trackers.each do |tracker| %>
  <li>
    <label>
      <%= check_box_tag("tracker_ids[]", tracker.id,
                        (@selected_tracker_ids.include? tracker.id.to_s),
                        :id => nil) %>
      <%= tracker.name %>
    </label>
  </li>
<% end %>
</ul>
<p></p>
<ul>
  <li>
    <label for="completed">
      <%= check_box_tag "completed", 1, params[:completed] %> <%= l(:label_show_completed_versions) %>
    </label>
  </li>
  <% if @project.descendants.active.any? %>
  <li>
    <%= hidden_field_tag 'with_subprojects', 0 %>
    <label>
      <%= check_box_tag 'with_subprojects', 1, @with_subprojects %> <%=l(:label_subproject_plural)%>
    </label>
  </li>
  <% end %>
</ul>
<p><%= submit_tag l(:button_apply), :class => 'button-small', :name => nil %></p>
<% end %>

<h3><%= l(:label_version_plural) %></h3>
<ul>
<% @versions.each do |version| %>
  <li>
    <%= link_to(format_version_name(version), "##{version_anchor(version)}") %>
  </li>
<% end %>
</ul>
<% if @completed_versions.present? %>
<p>
  <%= link_to_function l(:label_completed_versions), 
                       '$("#toggle-completed-versions").toggleClass("collapsed"); $("#completed-versions").toggle()',
                       :id => 'toggle-completed-versions', :class => 'collapsible collapsed' %>
  <ul id = "completed-versions" style = "display:none;">
    <% @completed_versions.each do |version| %>
      <li><%= link_to(format_version_name(version), version_path(version)) %></li>
    <% end %>  
  </ul>
</p>
<% end %>
<% end %>

<% html_title(l(:label_roadmap)) %>

<%= context_menu issues_context_menu_path %>


<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'usability', :plugin => 'redmine_usability' %>
    <%= javascript_include_tag 'js_cookie', :plugin => 'redmine_usability' %>
    <%= javascript_include_tag 'self_lib', :plugin => 'redmine_usability' %>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            console.log('run versions -> index.html.erb');
            roadmap.init();
        });
    </script>
<% end %>