<div class="contextual">
<%= link_to(l(:button_edit), edit_version_path(@version), :class => 'icon icon-edit') if User.current.allowed_to?(:manage_versions, @version.project) %>
<%= link_to_if_authorized(l(:button_edit_associated_wikipage, :page_title => @version.wiki_page_title), {:controller => 'wiki', :action => 'edit', :project_id => @version.project, :id => Wiki.titleize(@version.wiki_page_title)}, :class => 'icon icon-edit') unless @version.wiki_page_title.blank? || @version.project.wiki.nil? %>
<%= delete_link version_path(@version, :back_url => url_for(:controller => 'versions', :action => 'index', :project_id => @version.project)) if User.current.allowed_to?(:manage_versions, @version.project) %>
<%= call_hook(:view_versions_show_contextual, { :version => @version, :project => @project }) %>
</div>

<h2><%= h(@version.name) %></h2>

<div style="display: hidden;" id="current_project" project-id="<%=@project.id%>" project-name="<%=@project.name%>"></div>
<div>
    <button style="float: right;" onclick="roadmap.clearall()" title="Очистить все сохраненные состояния!">Очистисть состояния!</button>
</div>

<div id="roadmap">
<%= render :partial => 'versions/overview', :locals => {:version => @version} %>
<%= render(:partial => "wiki/content", :locals => {:content => @version.wiki_page.content}) if @version.wiki_page %>

<div id="version-summary">
<% if @version.estimated_hours > 0 || User.current.allowed_to?(:view_time_entries, @project) %>
<fieldset class="time-tracking"><legend><%= l(:label_time_tracking) %></legend>
<table>
<tr>
    <th><%= l(:field_estimated_hours) %></th>
    <td class="total-hours"><%= html_hours(l_hours(@version.estimated_hours)) %></td>
</tr>
<% if User.current.allowed_to?(:view_time_entries, @project) %>
<tr>
    <th><%= l(:label_spent_time) %></th>
    <td class="total-hours"><%= html_hours(l_hours(@version.spent_hours)) %></td>
</tr>
<% end %>
</table>
</fieldset>
<% end %>

<div id="status_by">
<%= render_issue_status_by(@version, params[:status_by]) if @version.fixed_issues.count > 0 %>
</div>
</div>

<% if @issues.present? %>
    <%= render(:partial => 'versions/table_of_issues', :locals => { :issues => @issues, :version => @version, :table_options => { :tbody => { :tr_class=>'issue hascontextmenu' }, :class => 'list related-issues', :caption => l(:label_related_issues) } }) %>
<%= context_menu issues_context_menu_path %>
<% end %>
</div>

<%= call_hook :view_versions_show_bottom, :version => @version %>

<% html_title @version.name %>


<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'usability', :plugin => 'redmine_usability' %>
    <%= javascript_include_tag 'js_cookie', :plugin => 'redmine_usability' %>
    <%= javascript_include_tag 'self_lib', :plugin => 'redmine_usability' %>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            console.log('run versions -> index.html.erb');
            roadmap.init();
        });
    </script>
<% end %>