a.toggle_versions_status:hover, a.toggle_versions_allstatus {
	cursor: pointer;
}
.hide_version_status, .hide_version_status:hover {
	color:#B40431;
}

.show_version_status, .show_version_status:hover {
	color:#298A08;
}

.versions_total_statuses_message, .versions_total_statuses_message:hover
{
	display:none;
	background-color: #CEF6CE;
}

tr.issues_stat a {
    color: #4183c4 !important;
}
}